build/
self_updater/self_updater.rc
self_updater_rsrc
*.filters
*.vcxproj
*.tlog
*.lastbuildstate
unpacker_rsrc
*.log
*.recipe
*.recipe
unpacker/unpacker.rc
*.pdb
/unpacker.dir/Debug
/shared.dir/Debug
/REPENTOGONLauncherUpdater.dir/Debug
/REPENTOGONLauncher.dir/Debug
/CMakeFiles
/inih.dir/Debug
.vs/Launcher/FileContentIndex/0dcb7990-77d3-4264-aa02-128847511e58.vsidx
.vs/Launcher/FileContentIndex/1ac4afe3-28a7-4b60-9076-de1a8606dc15.vsidx
.vs/Launcher/FileContentIndex/33fb4b6b-895e-4171-b5cd-16d5777eaf01.vsidx
.vs/Launcher/FileContentIndex/55facbba-0c6a-46b1-ad67-1d4921e67720.vsidx
.vs/Launcher/FileContentIndex/7133d57f-5ca7-49c7-b676-54925a7ba84f.vsidx
.vs/Launcher/FileContentIndex/74cf72aa-3f87-474d-ab7e-dd807f474c8a.vsidx
.vs/Launcher/FileContentIndex/92685e32-154b-4556-b4ea-c6cc1ccba26e.vsidx
.vs/Launcher/FileContentIndex/ab0f5677-422e-4b39-8104-f749fd3cec26.vsidx
*.vsidx
/.vs/Launcher
/.vs
/Debug
Launcher-.tar.gz
Launcher-.tar.xz
src/installation.cpp
src/injector.cpp
src/init.cpp
src/configuration.cpp
src/cli.cpp
src/app.cpp
shared/launcher_update_checker.cpp
shared/github_executor.cpp
shared/github.cpp
self_updater/utils.cpp
self_updater/self_updater.cpp
self_updater/launcher_updater.cpp
Launcher.sln
include/shared/github_executor.h
include/shared/github.h
include/shared/curl_request.h
include/self_updater/self_updater.h
include/launcher/windows/setup_wizard.h
include/launcher/windows/launcher.h
include/launcher/repentogon_installer.h
include/launcher/launcher_configuration.h
include/launcher/installation.h
include/launcher/configuration.h
include/launcher/cli.h
include/launcher/app.h
src/launcher_configuration.cpp
src/repentogon_installer.cpp
src/windows/launcher.cpp
src/windows/repentogon_installer.cpp
src/windows/setup_wizard.cpp
CMakeCache.txt
cmake_install.cmake
ALL_BUILD.vcxproj.user
REPENTOGONLauncher.vcxproj.user
Win32/Debug/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt
Win32/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
deps/bzip2/bzip2.sln
deps/bzip2/bzip2.dir/Debug/randtable.obj
deps/bzip2/bzip2.dir/Debug/huffman.obj
deps/bzip2/bzip2.dir/Debug/decompress.obj
deps/bzip2/bzip2.dir/Debug/crctable.obj
deps/bzip2/bzip2.dir/Debug/compress.obj
deps/bzip2/bzip2.dir/Debug/bzlib.obj
deps/bzip2/bzip2.dir/Debug/blocksort.obj
deps/bzip2/CMakeFiles/generate.stamp
deps/bzip2/CMakeFiles/generate.stamp.depend
deps/bzip2/Debug/bzip2.lib
deps/bsdiff/bsdiff.sln
deps/bsdiff/CMakeFiles/generate.stamp
deps/bsdiff/CMakeFiles/generate.stamp.depend
deps/bsdiff/Debug/bspatch.lib
deps/bsdiff/bspatch.dir/Debug/bspatch.obj
deps/bsdiff/bspatch.dir/Debug/bspatch.vcxproj.FileListAbsolute.txt
deps/bzip2/bzip2.dir/Debug/bzip2.vcxproj.FileListAbsolute.txt
deps/bsdiff/bspatch.dir/Debug/bspatchlib.obj
deps/bsdiff/bspatch.dir/Debug/bsdifflib.obj
deps/bsdiff/bspatch.dir/Debug/bsdiff.obj
